.unidades-container {
  max-width: 800px;
  margin: 0 auto;
}

.add-button {
  background-color: #6bca12; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
  padding: 10px 20px; /* Aumenta el espacio alrededor del texto */
  border: 1px solid #000; /* Elimina el borde */
  border-radius: 5px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Agrega una transición */
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Ajusta el margen inferior según tus preferencias */
  margin-top: 20px;
}

.unidad-form {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.unidad-form .form-group {
  margin-bottom: 15px;
}

.unidad-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.unidad-form input[type="text"],
.unidad-form select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cancel-button {
  background-color: #dcdcdc;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.save-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20;
}
